!!!
%html
  %body
    - provide(:title, "About")
    %title
      = yield(:title)
      | Ruby on Rails Tutorial Sample App
    %h1 About
    %p
      This website was created by Team RubyGeeks in Software Engineering Course CSCE606.
      The purpose is to help PhD students in CS department of Texas A&M University 
      for their PhD Qualification Exam.
      // Get help on the Ruby on Rails Tutorial at the
      // = succeed "." do
      //   %a{:href => "http://www.railstutorial.org/help"}
      //     Rails Tutorial help
      //     section
      // = succeed "." do
      //   %a{:href => "http://www.railstutorial.org/book"}
      //     %em
      //       Ruby on Rails
      //       Tutorial
      //     book
