%h1 Admin#show
%p Find me in app/views/admin/show.html.erb
@questions.each do |question|
\%p =question.category
\%p =question.question
\%p =question.option1
\%p =question.option2
\%p =question.option3
\%p =question.option4
\%p =question.answer
\%p =question.option5
