!!!
%html
  %body
    - provide(:title, @user.name)
    %title
      = yield(:title)
      | Ruby on Rails Tutorial Sample App
    %p
      %li= link_to "Add a Question",   '#'
      %li= link_to "Delete a Question",   '#'
      %li= link_to "Modify a Question",   '#'
